In [ ]:
from google.colab import files
files.upload()

In [2]:
!rm -r ~/.kaggle
!mkdir ~/.kaggle
!mv ./kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

rm: cannot remove '/root/.kaggle': No such file or directory

In [3]:
!kaggle competitions download -c titanic

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 2.34MB/s]

In [4]:
!mkdir Dataset
!cp /content/titanic.zip /content/Dataset/titanic.zip
!unzip -q /content/Dataset/titanic.zip -d /content/Dataset
!rm /content/Dataset/titanic.zip

In [5]:
!ls /content/Dataset/

gender_submission.csv  test.csv  train.csv

In [6]:
import pandas as pd
data = pd.read_csv("/content/Dataset/train.csv")
test = pd.read_csv("/content/Dataset/test.csv")
print(test.dtypes)

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
## Feature selection:- 

## Test A:- Gender, Pcalss, Age, Parch, Fare, Embarked 
refined_data = data[["Survived", "Pclass","Sex", "Age","Fare", "Embarked"]]
refined_test = test[["Pclass", "Sex", "Age", "Fare", "Embarked"]]
print(refined_data)
##print(refined_data.dtypes)
print(refined_test.dtypes)

     Survived  Pclass     Sex   Age     Fare Embarked
0           0       3    male  22.0   7.2500        S
1           1       1  female  38.0  71.2833        C
2           1       3  female  26.0   7.9250        S
3           1       1  female  35.0  53.1000        S
4           0       3    male  35.0   8.0500        S
..        ...     ...     ...   ...      ...      ...
886         0       2    male  27.0  13.0000        S
887         1       1  female  19.0  30.0000        S
888         0       3  female   NaN  23.4500        S
889         1       1    male  26.0  30.0000        C
890         0       3    male  32.0   7.7500        Q

[891 rows x 6 columns]
Pclass        int64
Sex          object
Age         float64
Fare        float64
Embarked     object
dtype: object

In [ ]:
#m_surviours = refined_data.loc[(refined_data['Survived'] == 1) & (refined_data['Sex']=="male")]
f_survivours = refined_data.loc[(refined_data['Survived'] == 1) & (refined_data['Sex']=="female")]

print(m_surviours.shape[0])
print(f_survivours.shape[0])

109
233

In [ ]:
m_surviours.head(10)
temp1 = m_surviours.dropna(subset=['Age'])
print(temp1.head(10))
print(temp1.describe())

     Survived  Pclass   Sex    Age     Fare Embarked
21          1       2  male  34.00  13.0000        S
23          1       1  male  28.00  35.5000        S
74          1       3  male  32.00  56.4958        S
78          1       2  male   0.83  29.0000        S
81          1       3  male  29.00   9.5000        S
97          1       1  male  23.00  63.3583        C
125         1       3  male  12.00  11.2417        C
127         1       3  male  24.00   7.1417        S
146         1       3  male  27.00   7.7958        S
165         1       3  male   9.00  20.5250        S
       Survived     Pclass        Age        Fare
count      93.0  93.000000  93.000000   93.000000
mean        1.0   1.978495  27.276022   43.793865
std         0.0   0.920521  16.504803   76.649011
min         1.0   1.000000   0.420000    0.000000
25%         1.0   1.000000  18.000000    9.500000
50%         1.0   2.000000  28.000000   26.287500
75%         1.0   3.000000  36.000000   52.554200
max         1.0   3.000000  80.000000  512.329200

In [ ]:
temp2 = f_survivours.dropna(subset=['Age'])
print(temp2.head(10))
print(temp2.describe())

    Survived  Pclass     Sex   Age     Fare Embarked
1          1       1  female  38.0  71.2833        C
2          1       3  female  26.0   7.9250        S
3          1       1  female  35.0  53.1000        S
8          1       3  female  27.0  11.1333        S
9          1       2  female  14.0  30.0708        C
10         1       3  female   4.0  16.7000        S
11         1       1  female  58.0  26.5500        S
15         1       2  female  55.0  16.0000        S
22         1       3  female  15.0   8.0292        Q
25         1       3  female  38.0  31.3875        S
       Survived      Pclass         Age        Fare
count     197.0  197.000000  197.000000  197.000000
mean        1.0    1.822335   28.847716   55.643148
std         0.0    0.791478   14.175073   67.209168
min         1.0    1.000000    0.750000    7.225000
25%         1.0    1.000000   19.000000   13.000000
50%         1.0    2.000000   28.000000   26.250000
75%         1.0    2.000000   38.000000   77.958300
max         1.0    3.000000   63.000000  512.329200

## Mean age among male surviours is 27.27 
## Mean age among female surviours is 26.25

In [ ]:
m_died = refined_data.loc[(refined_data['Survived'] == 0) & (refined_data['Sex']=="male")]
f_died = refined_data.loc[(refined_data['Survived'] == 0) & (refined_data['Sex']=="female")]

print(m_died.shape[0])
print(f_died.shape[0])

468
81

In [ ]:
print(m_died.describe())
print(f_died.describe())

       Survived      Pclass         Age        Fare
count     468.0  468.000000  360.000000  468.000000
mean        0.0    2.476496   31.618056   21.960993
std         0.0    0.761411   14.056019   32.409799
min         0.0    1.000000    1.000000    0.000000
25%         0.0    2.000000   21.750000    7.795800
50%         0.0    3.000000   29.000000    9.416650
75%         0.0    3.000000   39.250000   26.000000
max         0.0    3.000000   74.000000  263.000000
       Survived     Pclass        Age        Fare
count      81.0  81.000000  64.000000   81.000000
mean        0.0   2.851852  25.046875   23.024385
std         0.0   0.450309  13.618591   24.821287
min         0.0   1.000000   2.000000    6.750000
25%         0.0   3.000000  16.750000    8.850000
50%         0.0   3.000000  24.500000   15.245800
75%         0.0   3.000000  33.250000   27.900000
max         0.0   3.000000  57.000000  151.550000

### Replacing the age with mean age and making a DNN for prediction
## Convention 
female = [0, 1]  
male = [1, 0 ] 

S, C, Q -> 1,2,3

In [69]:
no_nadata= refined_data.dropna(subset=['Age','Fare'])
no_nadata["0"]=[0 if i=="male" else 1 for i in no_nadata["Sex"].values]
no_nadata["1"]=[1 if i=="male" else 0 for i in no_nadata["Sex"].values]
no_nadata["2"]=[1 if i=="S" else 0 for i in no_nadata["Embarked"].values]
no_nadata["3"]=[1 if i=="C" else 0 for i in no_nadata["Embarked"].values]
no_nadata["4"]=[1 if i=="Q" else 0 for i in no_nadata["Embarked"].values]

refined_test = refined_test.dropna(subset=['Age', 'Fare'])

refined_test["0"] = [0 if i=="male" else 1 for i in refined_test["Sex"].values]
refined_test["1"] = [1 if i=="male" else 0 for i in refined_test["Sex"].values]
refined_test["2"]=[1 if i=="S" else 0 for i in refined_test["Embarked"].values]
refined_test["3"]=[1 if i=="C" else 0 for i in refined_test["Embarked"].values]
refined_test["4"]=[1 if i=="Q" else 0 for i in refined_test["Embarked"].values]

## [S,C, ]
# print(no_nadata.head(5))
# print(no_nadata.dtypes)

print(refined_test.head(5))

   Pclass     Sex   Age     Fare Embarked  0  1  2  3  4
0     3.0    male  34.5   7.8292        Q  0  1  0  0  1
1     3.0  female  47.0   7.0000        S  1  0  1  0  0
2     2.0    male  62.0   9.6875        Q  0  1  0  0  1
3     3.0    male  27.0   8.6625        S  0  1  1  0  0
4     3.0  female  22.0  12.2875        S  1  0  1  0  0

<ipython-input-69-dca5d319a11d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["0"]=[0 if i=="male" else 1 for i in no_nadata["Sex"].values]
<ipython-input-69-dca5d319a11d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["1"]=[1 if i=="male" else 0 for i in no_nadata["Sex"].values]
<ipython-input-69-dca5d319a11d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["2"]=[1 if i=="S" else 0 for i in no_nadata["Embarked"].values]
<ipython-input-69-dca5d319a11d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["3"]=[1 if i=="C" else 0 for i in no_nadata["Embarked"].values]
<ipython-input-69-dca5d319a11d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["4"]=[1 if i=="Q" else 0 for i in no_nadata["Embarked"].values]
<ipython-input-69-dca5d319a11d>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refined_test["0"] = [0 if i=="male" else 1 for i in refined_test["Sex"].values]
<ipython-input-69-dca5d319a11d>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refined_test["1"] = [1 if i=="male" else 0 for i in refined_test["Sex"].values]
<ipython-input-69-dca5d319a11d>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refined_test["2"]=[1 if i=="S" else 0 for i in refined_test["Embarked"].values]
<ipython-input-69-dca5d319a11d>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refined_test["3"]=[1 if i=="C" else 0 for i in refined_test["Embarked"].values]
<ipython-input-69-dca5d319a11d>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refined_test["4"]=[1 if i=="Q" else 0 for i in refined_test["Embarked"].values]

In [9]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import activations

In [75]:
model = keras.Sequential() 

## first layer
model.add(layers.Dense(128, input_shape=(8,)))
model.add(layers.BatchNormalization())
model.add(layers.Activation('relu'))
model.add(layers.Dropout(0.3))

model.add(layers.Dense(64))
model.add(layers.BatchNormalization())
model.add(layers.Activation('relu'))
model.add(layers.Dropout(0.3))

model.add(layers.Dense(32))
model.add(layers.BatchNormalization())
model.add(layers.Activation('relu'))
model.add(layers.Dropout(0.3))

model.add(layers.Dense(1)) ## 2 since either dead or alive better to give a probability
model.add(layers.Activation('sigmoid'))

In [40]:
import numpy as np
import torch

In [ ]:
print(no_nadata.dtypes)

Survived    float32
Pclass      float32
Sex          object
Age         float32
Fare        float32
Embarked     object
0           float32
1           float32
2           float32
3           float32
4           float32
dtype: object

In [70]:
no_nadata["Survived"] = np.asarray(no_nadata["Survived"]).astype(np.float32)
no_nadata["Pclass"] = np.asarray(no_nadata["Pclass"]).astype(np.float32)
no_nadata["Age"] = np.asarray(no_nadata["Age"]).astype(np.float32)
no_nadata["Fare"] = np.asarray(no_nadata["Fare"]).astype(np.float32)
no_nadata["0"] = np.asarray(no_nadata["0"]).astype(np.float32)
no_nadata["1"] = np.asarray(no_nadata["1"]).astype(np.float32)
no_nadata["2"] = np.asarray(no_nadata["2"]).astype(np.float32)
no_nadata["3"] = np.asarray(no_nadata["3"]).astype(np.float32)
no_nadata["4"] = np.asarray(no_nadata["4"]).astype(np.float32)

refined_test["Pclass"] = np.asarray(refined_test["Pclass"]).astype(np.float32)
refined_test["Age"] = np.asarray(refined_test["Age"]).astype(np.float32)
refined_test["Fare"] = np.asarray(refined_test["Fare"]).astype(np.float32)
refined_test["0"] = np.asarray(refined_test["0"]).astype(np.float32)
refined_test["1"] = np.asarray(refined_test["1"]).astype(np.float32)
refined_test["2"] = np.asarray(refined_test["2"]).astype(np.float32)
refined_test["3"] = np.asarray(refined_test["3"]).astype(np.float32)
refined_test["4"] = np.asarray(refined_test["4"]).astype(np.float32)

<ipython-input-70-113cbfdffa66>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["Survived"] = np.asarray(no_nadata["Survived"]).astype(np.float32)
<ipython-input-70-113cbfdffa66>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["Pclass"] = np.asarray(no_nadata["Pclass"]).astype(np.float32)
<ipython-input-70-113cbfdffa66>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["Age"] = np.asarray(no_nadata["Age"]).astype(np.float32)
<ipython-input-70-113cbfdffa66>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["Fare"] = np.asarray(no_nadata["Fare"]).astype(np.float32)
<ipython-input-70-113cbfdffa66>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["0"] = np.asarray(no_nadata["0"]).astype(np.float32)
<ipython-input-70-113cbfdffa66>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["1"] = np.asarray(no_nadata["1"]).astype(np.float32)
<ipython-input-70-113cbfdffa66>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["2"] = np.asarray(no_nadata["2"]).astype(np.float32)
<ipython-input-70-113cbfdffa66>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["3"] = np.asarray(no_nadata["3"]).astype(np.float32)
<ipython-input-70-113cbfdffa66>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_nadata["4"] = np.asarray(no_nadata["4"]).astype(np.float32)

In [85]:
age_tensor = tf.convert_to_tensor(no_nadata["Age"])
survived_tensor = tf.convert_to_tensor(no_nadata["Survived"])
pclass_tensor = tf.convert_to_tensor(no_nadata["Pclass"])
fare_tensor = tf.convert_to_tensor(no_nadata["Fare"])
sex_tensor_0 = tf.convert_to_tensor(no_nadata["0"])
sex_tensor_1 = tf.convert_to_tensor(no_nadata["1"])
embark_tensor_0 = tf.convert_to_tensor(no_nadata["2"])
embark_tensor_1 = tf.convert_to_tensor(no_nadata["3"])
embark_tensor_2 = tf.convert_to_tensor(no_nadata["4"])

age_tensor_test = tf.convert_to_tensor(refined_test["Age"])
pclass_tensor_test = tf.convert_to_tensor(refined_test["Pclass"])
fare_tensor_test = tf.convert_to_tensor(refined_test["Fare"])
sex_tensor_0_test = tf.convert_to_tensor(refined_test["0"])
sex_tensor_1_test = tf.convert_to_tensor(refined_test["1"])
embark_tensor_0_test = tf.convert_to_tensor(refined_test["2"])
embark_tensor_1_test = tf.convert_to_tensor(refined_test["3"])
embark_tensor_2_test = tf.convert_to_tensor(refined_test["4"])


final_age_tensor = tf.concat([age_tensor, age_tensor_test], 0)
normalized_age_tensor = tf.linalg.normalize(final_age_tensor)[0]


final_fare_tensor = tf.concat([fare_tensor, fare_tensor_test], 0)
normalized_fare_tensor = tf.linalg.normalize(final_fare_tensor)[0]

combined_data = tf.convert_to_tensor([normalized_age_tensor[:714],pclass_tensor,normalized_fare_tensor[:714], sex_tensor_0, sex_tensor_1, embark_tensor_0, 
                                      embark_tensor_1, embark_tensor_2])
combined_outcomes = tf.convert_to_tensor(survived_tensor)


x_train = tf.transpose(combined_data[:,:600])
y_train = combined_outcomes[:600]
# y_train = tf.transpose(y_train[None, :])
y_train = tf.cast(y_train, dtype=tf.int64)
x_val = tf.transpose(combined_data[:,600:]) 
y_val = combined_outcomes[600:]
y_val = tf.cast(y_val, dtype=tf.int64)
# y_val = tf.transpose(y_val[None, :])

prediction_data = tf.convert_to_tensor([normalized_age_tensor[714:]
                                      ,pclass_tensor_test,normalized_fare_tensor[714:],sex_tensor_0_test,sex_tensor_1_test,embark_tensor_0_test,embark_tensor_1_test, 
                                      embark_tensor_2_test])
prediction_data = tf.transpose(prediction_data)

print(x_train.shape)
print(y_val[:5])

(600, 8)
tf.Tensor([0 1 1 0 0], shape=(5,), dtype=int64)

In [82]:
model.compile(
    optimizer=keras.optimizers.Adam(learning_rate=0.002),  # Optimizer
    # Loss function to minimize
    loss=tf.keras.losses.BinaryCrossentropy(from_logits=False),
    # List of metrics to monitor
    metrics=['accuracy'],
)

history = model.fit(x_train,
    y_train,
    batch_size=15,
    epochs=20, 
    validation_data=(x_val, y_val)
    )

Epoch 1/20
40/40 [==============================] - 4s 10ms/step - loss: 0.4520 - accuracy: 0.7983 - val_loss: 0.4121 - val_accuracy: 0.7982
Epoch 2/20
40/40 [==============================] - 0s 4ms/step - loss: 0.4620 - accuracy: 0.7983 - val_loss: 0.4189 - val_accuracy: 0.7982
Epoch 3/20
40/40 [==============================] - 0s 4ms/step - loss: 0.4524 - accuracy: 0.7933 - val_loss: 0.4010 - val_accuracy: 0.8246
Epoch 4/20
40/40 [==============================] - 0s 5ms/step - loss: 0.4568 - accuracy: 0.8083 - val_loss: 0.4178 - val_accuracy: 0.8333
Epoch 5/20
40/40 [==============================] - 0s 4ms/step - loss: 0.4638 - accuracy: 0.7800 - val_loss: 0.4093 - val_accuracy: 0.8246
Epoch 6/20
40/40 [==============================] - 0s 5ms/step - loss: 0.4490 - accuracy: 0.7917 - val_loss: 0.4112 - val_accuracy: 0.8246
Epoch 7/20
40/40 [==============================] - 0s 4ms/step - loss: 0.4654 - accuracy: 0.8100 - val_loss: 0.4158 - val_accuracy: 0.8246
Epoch 8/20
40/40 [==============================] - 0s 4ms/step - loss: 0.4622 - accuracy: 0.7950 - val_loss: 0.4116 - val_accuracy: 0.8421
Epoch 9/20
40/40 [==============================] - 0s 4ms/step - loss: 0.4408 - accuracy: 0.8033 - val_loss: 0.4412 - val_accuracy: 0.7982
Epoch 10/20
40/40 [==============================] - 0s 4ms/step - loss: 0.4660 - accuracy: 0.7883 - val_loss: 0.4363 - val_accuracy: 0.8246
Epoch 11/20
40/40 [==============================] - 0s 4ms/step - loss: 0.4813 - accuracy: 0.7817 - val_loss: 0.4146 - val_accuracy: 0.8246
Epoch 12/20
40/40 [==============================] - 0s 6ms/step - loss: 0.4501 - accuracy: 0.7983 - val_loss: 0.4059 - val_accuracy: 0.8333
Epoch 13/20
40/40 [==============================] - 0s 7ms/step - loss: 0.4439 - accuracy: 0.7933 - val_loss: 0.4084 - val_accuracy: 0.8070
Epoch 14/20
40/40 [==============================] - 0s 6ms/step - loss: 0.4558 - accuracy: 0.8033 - val_loss: 0.4094 - val_accuracy: 0.7982
Epoch 15/20
40/40 [==============================] - 0s 6ms/step - loss: 0.4746 - accuracy: 0.8000 - val_loss: 0.4097 - val_accuracy: 0.8333
Epoch 16/20
40/40 [==============================] - 0s 6ms/step - loss: 0.4587 - accuracy: 0.7933 - val_loss: 0.4106 - val_accuracy: 0.8421
Epoch 17/20
40/40 [==============================] - 0s 6ms/step - loss: 0.4473 - accuracy: 0.8100 - val_loss: 0.4192 - val_accuracy: 0.8246
Epoch 18/20
40/40 [==============================] - 0s 6ms/step - loss: 0.4521 - accuracy: 0.7933 - val_loss: 0.4055 - val_accuracy: 0.8333
Epoch 19/20
40/40 [==============================] - 0s 8ms/step - loss: 0.4485 - accuracy: 0.7933 - val_loss: 0.4045 - val_accuracy: 0.8246
Epoch 20/20
40/40 [==============================] - 0s 8ms/step - loss: 0.4656 - accuracy: 0.7917 - val_loss: 0.4102 - val_accuracy: 0.8158

In [87]:
print(prediction_data.shape)
model.predict(prediction_data)

(331, 8)
11/11 [==============================] - 0s 2ms/step

array([[0.06402084],
       [0.35837883],
       [0.04892992],
       [0.13285524],
       [0.3832293 ],
       [0.15744437],
       [0.4252473 ],
       [0.16767076],
       [0.44670925],
       [0.1430059 ],
       [0.39400947],
       [0.9716254 ],
       [0.08407826],
       [0.9643603 ],
       [0.9293489 ],
       [0.06458341],
       [0.20738307],
       [0.37674442],
       [0.42911544],
       [0.37164488],
       [0.17380206],
       [0.44953793],
       [0.967923  ],
       [0.10208766],
       [0.97498935],
       [0.20488316],
       [0.40363693],
       [0.09821513],
       [0.180208  ],
       [0.37060872],
       [0.43175355],
       [0.21160072],
       [0.3860519 ],
       [0.13602474],
       [0.18294056],
       [0.11140997],
       [0.93658274],
       [0.9655971 ],
       [0.1359533 ],
       [0.40468335],
       [0.9675616 ],
       [0.36828285],
       [0.47025084],
       [0.14512268],
       [0.94294316],
       [0.9593263 ],
       [0.08655878],
       [0.12025542],
       [0.13594083],
       [0.9696096 ],
       [0.14889102],
       [0.13957407],
       [0.1471042 ],
       [0.4442686 ],
       [0.49214014],
       [0.4536912 ],
       [0.38970774],
       [0.428852  ],
       [0.9507576 ],
       [0.43901888],
       [0.14223863],
       [0.37508097],
       [0.431855  ],
       [0.9706811 ],
       [0.4337821 ],
       [0.96294206],
       [0.14902093],
       [0.43901888],
       [0.23155269],
       [0.33317655],
       [0.38570526],
       [0.4321984 ],
       [0.3926691 ],
       [0.5647387 ],
       [0.3828783 ],
       [0.97174567],
       [0.43741354],
       [0.13594745],
       [0.9535049 ],
       [0.1296481 ],
       [0.3884152 ],
       [0.12334378],
       [0.9715772 ],
       [0.16251068],
       [0.13441195],
       [0.44902572],
       [0.13203014],
       [0.07531362],
       [0.23547754],
       [0.12367732],
       [0.9733596 ],
       [0.45287   ],
       [0.9518635 ],
       [0.2137766 ],
       [0.43101135],
       [0.4248833 ],
       [0.9351021 ],
       [0.9506387 ],
       [0.9731991 ],
       [0.13118581],
       [0.3924205 ],
       [0.14063992],
       [0.10859337],
       [0.13750842],
       [0.12490897],
       [0.3767129 ],
       [0.1085865 ],
       [0.13749945],
       [0.19823039],
       [0.17135486],
       [0.38227704],
       [0.11501553],
       [0.40140826],
       [0.96491206],
       [0.3864936 ],
       [0.156817  ],
       [0.40215695],
       [0.12706108],
       [0.14065176],
       [0.14667627],
       [0.97448385],
       [0.36863858],
       [0.16034181],
       [0.13748553],
       [0.9618668 ],
       [0.38231605],
       [0.40215695],
       [0.37702903],
       [0.2298818 ],
       [0.9397759 ],
       [0.11033738],
       [0.3762546 ],
       [0.39794868],
       [0.1483984 ],
       [0.38395333],
       [0.1974349 ],
       [0.13934325],
       [0.11406812],
       [0.9442676 ],
       [0.9406078 ],
       [0.3747127 ],
       [0.9256417 ],
       [0.966519  ],
       [0.14902093],
       [0.4239018 ],
       [0.9740315 ],
       [0.97103155],
       [0.1121243 ],
       [0.9425011 ],
       [0.1488988 ],
       [0.11224475],
       [0.1297345 ],
       [0.16533695],
       [0.04939149],
       [0.4075975 ],
       [0.12333281],
       [0.50067073],
       [0.39275193],
       [0.19427426],
       [0.22722287],
       [0.41554737],
       [0.95229197],
       [0.17899013],
       [0.41552562],
       [0.18621258],
       [0.9739677 ],
       [0.135952  ],
       [0.12572987],
       [0.22547346],
       [0.8978262 ],
       [0.36721298],
       [0.401328  ],
       [0.35833392],
       [0.9684868 ],
       [0.9260433 ],
       [0.14224589],
       [0.94327927],
       [0.14223391],
       [0.96961594],
       [0.1390609 ],
       [0.11249858],
       [0.12404254],
       [0.26518932],
       [0.9742747 ],
       [0.1421727 ],
       [0.42083728],
       [0.1438457 ],
       [0.33823594],
       [0.20906217],
       [0.9462895 ],
       [0.9700134 ],
       [0.96917766],
       [0.9165336 ],
       [0.41129953],
       [0.40253267],
       [0.9417168 ],
       [0.10813165],
       [0.9351021 ],
       [0.95676017],
       [0.14384909],
       [0.4397271 ],
       [0.13756678],
       [0.12420582],
       [0.13122992],
       [0.94546336],
       [0.14223292],
       [0.11850213],
       [0.14223666],
       [0.93566495],
       [0.4322789 ],
       [0.13963458],
       [0.14892952],
       [0.404673  ],
       [0.9730987 ],
       [0.9424411 ],
       [0.16015974],
       [0.11178757],
       [0.14757848],
       [0.2029064 ],
       [0.38215503],
       [0.22288771],
       [0.45649293],
       [0.42794243],
       [0.11870567],
       [0.46519703],
       [0.42555836],
       [0.37097278],
       [0.11882753],
       [0.13441737],
       [0.9477923 ],
       [0.43530044],
       [0.12964426],
       [0.12489341],
       [0.10685262],
       [0.13753645],
       [0.960279  ],
       [0.42330313],
       [0.22444196],
       [0.365839  ],
       [0.35969692],
       [0.1471484 ],
       [0.20571396],
       [0.4123729 ],
       [0.96810764],
       [0.45586738],
       [0.37913418],
       [0.23120888],
       [0.1328102 ],
       [0.19546995],
       [0.13441195],
       [0.20063204],
       [0.17135486],
       [0.42396954],
       [0.95906   ],
       [0.13902645],
       [0.9468626 ],
       [0.4048801 ],
       [0.15156108],
       [0.21095686],
       [0.9109465 ],
       [0.4190972 ],
       [0.44303042],
       [0.13281251],
       [0.43771973],
       [0.13965496],
       [0.18160792],
       [0.17316765],
       [0.24244316],
       [0.12488234],
       [0.9551193 ],
       [0.39725673],
       [0.17135486],
       [0.4316396 ],
       [0.18534611],
       [0.9342063 ],
       [0.9710722 ],
       [0.17899013],
       [0.21564876],
       [0.09912599],
       [0.4316559 ],
       [0.38307244],
       [0.96135366],
       [0.37353852],
       [0.1569287 ],
       [0.9285578 ],
       [0.9342063 ],
       [0.13285524],
       [0.9747088 ],
       [0.3780383 ],
       [0.97110724],
       [0.14146209],
       [0.21148145],
       [0.9725454 ],
       [0.3880296 ],
       [0.10551195],
       [0.9617758 ],
       [0.96834534],
       [0.3840187 ],
       [0.21148145],
       [0.3680135 ],
       [0.18912955],
       [0.07100192],
       [0.388078  ],
       [0.93196815],
       [0.1374958 ],
       [0.0902947 ],
       [0.07531159],
       [0.18535924],
       [0.4707988 ],
       [0.9635458 ],
       [0.16045727],
       [0.10186788],
       [0.13041958],
       [0.9737677 ],
       [0.07271959],
       [0.9702622 ],
       [0.14063893],
       [0.06677849],
       [0.9651013 ],
       [0.1167279 ],
       [0.9750356 ],
       [0.5297116 ],
       [0.4095997 ],
       [0.1577971 ],
       [0.19427429],
       [0.40739128],
       [0.42766267],
       [0.973839  ],
       [0.37592512],
       [0.97187454],
       [0.11499172]], dtype=float32)